.col-md-8 {
    border-right: solid thin;
    margin-top: 50px;
}

.bottom-page {
    background-color: #333333;
    width: 100%;
    position: fixed;
    padding: 20px;
    bottom: 0px;
}

#copyright {
    color: lightgrey;
    padding-top: 20px;
    text-align: center;
    font-size: small;
}

#logo {
    height: 50px;
    width: 200px;
}
/* Button colors here:
#red-btn, #white-btn, #lightblue-btn, #skyblue-btn, #blue-btn {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.color-btns {
    background-color: transparent;
    border: none;
    border-radius: 100%;
}
.color-btns:focus {
    box-shadow: 0 0 5px blue;
    outline: none;
} */
.rim-btn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.rim-btn:focus {
    box-shadow: 0 0 5px blue;
    outline: none;
}
.rim-btn1 {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 0;
}
.rim-btn1:focus {
    box-shadow: 0 0 5px blue;
    outline: none;
}

#rim2img {
    height: 80px;
}
#rim1img {
    height: 90px;
} 
#rim3img {
    height: 80px;
} 
#rim4img {
    height: 80px;
} 
#rim5img {
    height: 80px;
} 
#colorstitle {
    margin-top: 50px;
    margin-left: 40px;
    font-family: Arial;
    font-weight: 900;
}

#colorselect {
    margin-top: 10px;
    margin-left: 20px;
}

#wheeltitle {
    margin-top: 50px;
    margin-left: 40px;
    font-family: Arial;
    font-weight: 900;
}
#wheeloptions {
    margin-top: 10px;
    margin-left: 0px;
}
#wheeloptions2 {
    margin-left: 0px
}
#rim6img {
    height: 100px;
}
.rim-btn6:focus {
    box-shadow: 0 0 5px blue;
    outline: none;
}
.rim-btn6 {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 0;
}
#car {
    height: 298px;
    width: 610px;
    position: relative;
    z-index: 10;
    left: 0px;
}
#carBody {
    height: 172px;
    width: 524px;
    position: relative;
    bottom: 226.6px;
    left: 1px;
    z-index: 0
}
#rim-layer {
    position: relative;
    left: 0px;
    bottom: 642px;
    height: 300px;
    width: 610px;
    z-index: 20;
}
#opaque {
    z-index: 30;
    position: relative;
    bottom: 400px;
    width: 524px;
    height: 172px;
}

@media only screen and (min-width: 1680px) {
    #carBody {
        height: 172px;
        width: 524px;
        position: relative;
        top: -227px;
        left: 263px;
        z-index: 0
    }
    #rim-layer {
        position: relative;
        left: 0px;
        bottom: 470px;
        height: 300px;
        width: 610px;
        z-index: 20;
    }
    #opaque {
        z-index: 30;
        position: relative;
        bottom: 225px;
        right: 263px;
        width: 524px;
        height: 172px;
    }
}
@media only screen and (max-width: 1024px) {
    #opaque {
        position: relative;
        left: 0px;
    }
    #carBody {
        height: 172px;
        width: 524px;
        position: relative;
        top: -227px;
        left: 0px;
        z-index: 0
    }
    #colorselect, #colorstitle, #wheeltitle {
        position: relative;
        bottom: 660px;
    }
    #wheeloptions, #wheeloptions2 {
        position: relative;
        bottom: 660px;
    }
}
@media only screen and (max-width: 768px) {
    #opaque {
        position: relative;
        left: 1px;
    }
    #carBody {
        height: 172px;
        width: 524px;
        position: relative;
        top: -227px;
        left: 1px;
        z-index: 0
    }
    .col-md-8 {
        border: none;
    }
}
@media only screen and (max-width: 736px) {
    #car {
        height: 149px;
        width: 305px;
        position: relative;
        z-index: 10;
        left: 0px;
    }
    #opaque {
        position: relative;
        left: 0px;
        width: 262px;
        height: 86px;
        bottom: 199px;
    }
    #carBody {
        height: 86px;
        width: 262px;
        position: relative;
        top: -113px;
        left: 1px;
        z-index: 0;
    }
    #rim-layer {
        position: relative;
        left: 0px;
        bottom: 320px;
        height: 150px;
        width: 305px;
        z-index: 20;
    }
    .col-md-8 {
        border: none;
    }
    #colorselect, #colorstitle, #wheeltitle {
        position: relative;
        bottom: 300px;
    }
    #wheeloptions, #wheeloptions2 {
        position: relative;
        bottom: 300px;
    }
}