#navbarbtn {
   margin: auto;
   margin-left: 20px;
   padding-right: 40px;
}
.navbar-nav {
    justify-content: center;
    margin: auto;
    margin-right: 50px;
    align-items: center;
}

nav {
    z-index: 100;
    width: 105%;
}

